<?xml version="1.0" encoding="utf-8"?>
<!--
  Row Classes :
    Rendering Operation.
    - ProjectRimFactory.Common.TextRow               : Draw text content.
    - ProjectRimFactory.Common.ImageRow              : Draw texture.
    - ProjectRimFactory.Common.GapRow                : Insert Gap.
    - ProjectRimFactory.Common.GapLineRow            : Insert Gap and Draw Line.

    Rayout Operation.
    - ProjectRimFactory.Common.ContainerRow          : Rows collection container.
    - ProjectRimFactory.Common.SplitRow              : Split Row left and right

    Patching Operation.
    - ProjectRimFactory.Common.PatchItem             : On / Off setting for patch applying.
    - ProjectRimFactory.Common.PatchTextValueItem    : On / Off setting for patch applying and text replacing.
    - ProjectRimFactory.Common.PatchFloatValueItem   : On / Off setting for patch applying and float value replacing.
    - ProjectRimFactory.Common.PatchIntValueItem     : On / Off setting for patch applying and integer value replacing.
    - ProjectRimFactory.Common.PatchBoolValueItem    : On / Off setting for patch applying and boolean value replacing.
    - ProjectRimFactory.Common.PatchEnumValueItem    : On / Off setting for patch applying and enum value replacing.
    - ProjectRimFactory.Common.PatchSelectValueItem  : On / Off setting for patch applying and selection value replacing.
-->
<SettingRows>

  <Row Class="ProjectRimFactory.Common.TextRow">
    <font>Medium</font>
    <anchor>MiddleCenter</anchor>
    <height>30</height>
    <backgroundColor>(0.5,0.5,0.5,1)</backgroundColor>
    <!-- rich text https://docs.unity3d.com/560/Documentation/Manual/StyledText.html -->
    <text>PRF.Settings.TopMessage</text>
  </Row>

  <Row Class="ProjectRimFactory.Common.GapRow" />

  <Row Class="ProjectRimFactory.Common.TextRow">
    <font>Small</font>
    <anchor>MiddleCenter</anchor>
    <text>PRF.Settings.AssemblerMessage</text>
  </Row>

  <!-- GlowerPulse animation -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.glower.pulse.effect</key>
    <label>PRF.Settings.TurnOffPulseGlowerEffect.Label</label>
    <description>PRF.Settings.TurnOffPulseGlowerEffect.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/comps/li[@Class="ProjectRimFactory.Common.CompProperties_GlowerPulse"]/pulse</xpath>
      </Operation>
      <Operation Class="PatchOperationAdd">
        <success>Always</success>
        <xpath>/Defs/ThingDef/comps/li[@Class="ProjectRimFactory.Common.CompProperties_GlowerPulse"]</xpath>
        <value>
          <pulse>false</pulse>
        </value>
      </Operation>
    </Patch>
  </Row>

  <!-- swap texture -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.swap.texture</key>
    <label>PRF.Settings.TurnOffSwapTexture.Label</label>
    <description>PRF.Settings.TurnOffSwapTexture.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]/workingGraphicData</xpath>
      </Operation>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]/powerOffGraphicData</xpath>
      </Operation>
    </Patch>
  </Row>

  <!-- draw status -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.draw.status</key>
    <label>PRF.Settings.TurnOffDrawStatus.Label</label>
    <description>PRF.Settings.TurnOffDrawStatus.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]/drawStatus</xpath>
      </Operation>
      <Operation Class="PatchOperationAdd">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]</xpath>
        <value>
          <drawStatus>false</drawStatus>
        </value>
      </Operation>
    </Patch>
  </Row>

  <!-- doEffect -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.do.effect</key>
    <label>PRF.Settings.TurnOffDoEffect.Label</label>
    <description>PRF.Settings.TurnOffDoEffect.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]/doEffect</xpath>
      </Operation>
      <Operation Class="PatchOperationAdd">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.SAL3.Exposables.AssemblerDefModExtension"]</xpath>
        <value>
          <doEffect>false</doEffect>
        </value>
      </Operation>
    </Patch>
  </Row>


  <!-- Gap row -->
  <Row Class="ProjectRimFactory.Common.GapRow">
    <height>30</height>
  </Row>

  <!-- Gap line row -->
  <Row Class="ProjectRimFactory.Common.GapLineRow">
    <height>10</height>
    <color>(1,0,0,1)</color>
  </Row>

  <Row Class="ProjectRimFactory.Common.TextRow">
    <font>Small</font>
    <anchor>MiddleCenter</anchor>
    <text>PRF.Settings.StorageMessage</text>
  </Row>


  <!-- storage settings -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.storage.default</key>
    <label>PRF.Settings.TurnOffStorageDefault.Label</label>
    <description>PRF.Settings.TurnOffStorageDefault.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef[defName="StockpileCrateSmall"  or defName="StockpileCrate"  or defName="StockpileCrateReinforcedTiny"  or defName="StockpileCrateReinforced"  or defName="PRFCargoPlatform"]/building/fixedStorageSettings</xpath>
      </Operation>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef[defName="StockpileCrateSmall"  or defName="StockpileCrate"  or defName="StockpileCrateReinforcedTiny"  or defName="StockpileCrateReinforced"  or defName="PRFCargoPlatform"]/building/defaultStorageSettings</xpath>
      </Operation>
    </Patch>
  </Row>

  <!-- Destroy DSU -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.dsu.destroy</key>
    <label>PRF.Settings.TurnOffDsuDestroy.Label</label>
    <description>PRF.Settings.TurnOffDsuDestroy.Desc</description>
    <Patch>
      <Operation Class="PatchOperationReplace">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.Storage.Editables.DefModExtension_Crate"]/destroyContainsItems</xpath>
        <value>
          <destroyContainsItems>false</destroyContainsItems>
        </value>
      </Operation>
    </Patch>
  </Row>

  <!-- DSU limit -->
  <Row Class="ProjectRimFactory.Common.PatchIntValueItem">
    <key>turn.off.dsu.limit</key>
    <label>PRF.Settings.DsuLimit.Label</label>
    <description>PRF.Settings.DsuLimit.Desc</description>
    <minValue>100</minValue>
    <maxValue>2048</maxValue>
    <roundTo>1</roundTo>
    <value>768</value>
    <!-- PatchOperation executed at check on -->
    <Patch>
      <Operation Class="PatchOperationReplace">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.Storage.Editables.DefModExtension_Crate"]/limit</xpath>
        <value>
          <!-- ${value} is replaced with the entered value. -->
          <limit>${value}</limit>
        </value>
      </Operation>
    </Patch>
  </Row>


  <!-- Gap row -->
  <Row Class="ProjectRimFactory.Common.GapRow">
    <height>30</height>
  </Row>

  <!-- Gap line row -->
  <Row Class="ProjectRimFactory.Common.GapLineRow">
    <height>10</height>
    <color>(1,0,0,1)</color>
  </Row>

  <Row Class="ProjectRimFactory.Common.TextRow">
    <font>Small</font>
    <anchor>MiddleCenter</anchor>
    <text>PRF.Settings.OtherMessage</text>
  </Row>

  <!-- help button -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <!-- save key. not duplicate -->
    <key>turn.off.help.button</key>
    <!-- label and description strings key. see Language/*/AllKeyed_Settings.xml -->
    <label>PRF.Settings.TurnOffHelpButton.Label</label>
    <description>PRF.Settings.TurnOffHelpButton.Desc</description>
    <!-- PatchOperation executed at check on -->
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/comps/li[compClass="ProjectRimFactory.Common.CompPRFHelp"]</xpath>
      </Operation>
    </Patch>
  </Row>

  <!-- Vacuum Hopper -->
  <Row Class="ProjectRimFactory.Common.PatchItem">
    <key>turn.off.hopper.pickup</key>
    <label>PRF.Settings.VacuumHopper.Label</label>
    <description>PRF.Settings.VacuumHopper.Desc</description>
    <Patch>
      <Operation Class="PatchOperationRemove">
        <success>Always</success>
        <xpath>/Defs/ThingDef/modExtensions/li[@Class="ProjectRimFactory.Common.ModExtension_Settings"]</xpath>
      </Operation>
    </Patch>
  </Row>

</SettingRows>